/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

body {
    background-color: hsl(204, 43%, 93%);
}

h1 {
    padding-top:10px;
    padding-bottom: 0px;
    font-size: 1.2em;
    padding-bottom: 10px;
}

h2 {
    padding-bottom: 0px;
    font-size: 1.1em;
    padding-bottom: 10px
}

p {
    padding-bottom: 10px;
}
ul {
    padding-bottom: 10px;
}


.wrapper {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
}

.price-component {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 80%;
    -webkit-box-shadow: 2px 2px 20px 0px rgba(191,191,191,1);
box-shadow: 2px 2px 20px 0px rgba(191,191,191,1);
}

.card {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.card-content {
    padding: 5px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.hero {
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    border-radius: 5px 5px;

}

.hero h1 {
    color: #52c3c1;
}

.hero h2 {
    color: #bfdf32;
}

.hero p {
    color: #bec0ce;
}

.subscription {
    background-color: #2bb3b1;
}

.subscription h1, h2, p{
    color: white;
}

.subscription button {
    background-color: #bfdf32;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 1em;
    -webkit-box-shadow: 2px 2px 30px -8px rgba(117,117,117,1);
    box-shadow: 2px 2px 30px -8px rgba(117,117,117,1);
}

.subscription button:hover {
    background-color: #9fb929;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.why-us {
    background-color: #4abebd;
    color: white;
    border-radius: 0px 0px 5px 5px;
}

.why-us ul {
    list-style: none;
}


/*  MEDIA QUERIES */ 

@media (min-width: 1000px) {
    .price-component {
        height: 600px;
    }
    .card {
        height: 100%;
    }
    .price-component {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 1.2fr;
        grid-template-rows: 1fr 1.3fr;
        max-width: 850px;
    }
    .price-component > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .price-component > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .price-component > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .price-component > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .hero {
        grid-column: 1 / -1;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        font-size: 1.3em;
    }
    .card-content {
        padding: 30px;
    }
    .subscription button {
        margin-top: 10px;
        padding: 18px;
    }
  }